//  ====================================
//  @author: nChauhan
//  @package: Custom fonts for the theme
//  ====================================

// Base font
$font_directory_base: '/assets/fonts';


$font_weight: (900, 400);
$font_file_name: ('axis-extrabold', 'redemption');
$font_config: zip($font_file_name, $font_weight);


// Combine arrays for loop

// Mixin to generate classes
@mixin base_font_mixin() {
  // For each unit
  @each $font_file, $font_weight in $font_file_name {
    @font-face {
      font-family: #{$font_file};
      src: url('#{$font_directory_base}/#{$font_file}.eot');
      src: url('#{$font_directory_base}/#{$font_file}.woff') format('woff'),
      url('#{$font_directory_base}/#{$font_file}.ttf') format('truetype'),
      url('#{$font_directory_base}/#{$font_file}.svg##{$font_weight}') format('svg');
      font-weight: $font_weight;
      font-style: normal;
    }
  }
}


@include base_font_mixin();
