/* ------------------------------------------------------------------------------------
body (background color)
---------------------------------------------------------------------------------------*/
$bg-primary-color: #ffffff;
$bg-secondary-color: #ec606a;
$bg-alternate-color: #e9c7c1;
$bg-other-color: #f3f3f3;

/* ------------------------------------------------------------------------------------
Text (Paragraph color)
---------------------------------------------------------------------------------------*/
$text-primary-color: #434445;
$text-secondary-color: #868686;
$text-alternate-color: #ec606a;
$text-other-color: #e9c7c1;

/* ------------------------------------------------------------------------------------
head (heading color)
---------------------------------------------------------------------------------------*/
$head-primary-color: #434445;
$head-secondary-color: null;
$head-alternate-color: null;

/* ------------------------------------------------------------------------------------
icon (icon-text color)
---------------------------------------------------------------------------------------*/
$icon-primary-color: #ec606a;
$icon-secondary-color: #e9c7c1;
$icon-alternate-color: null;

/* ------------------------------------------------------------------------------------
border (border color)
---------------------------------------------------------------------------------------*/
$border-primary-color: #e9c7c1;
$border-secondary-color: #e5e5e5;
$border-alternate-color: null;

/* ------------------------------------------------------------------------------------
href-text and href-bg (a:link color)
---------------------------------------------------------------------------------------*/
$href-text-primary-color: #e9c7c1;
$href-text-secondary-color: #434445;
$href-text-alternate-color: null;

$href-text-hover-primary-color: #ec606a;
$href-text-hover-secondary-color: null;
$href-text-hover-alternate-color: null;

$href-bg-primary-color: #e9c7c1;
$href-bg-secondary-color: null;
$href-bg-alternate-color: null;

$href-bg-hover-primary-color: null;
$href-bg-hover-secondary-color: null;
$href-bg-hover-alternate-color: null;

/* ------------------------------------------------------------------------------------
button (button text and background color)
---------------------------------------------------------------------------------------*/
$btn-text-primary-color: #e9c7c1;
$btn-text-secondary-color: #ec606a;
$btn-text-alternate-color: null;

$btn-text-hover-primary-color: null;
$btn-text-hover-secondary-color: null;
$btn-text-hover-alternate-color: null;

$btn-bg-primary-color: #ec606a;
$btn-bg-secondary-color: #e9c7c1;
$btn-bg-alternate-color: null;

$btn-bg-hover-primary-color: #e41c2a;
$btn-bg-hover-secondary-color: null;
$btn-bg-hover-alternate-color: null;


